.BayesNode {
    background-color: rgb(206, 206, 206);
    border-radius: 0.5em;
    padding: 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.ConnectButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
}