.BayesNode {
    background-color: rgb(238, 238, 238);
    border-radius: 0.5em;
    padding: 0.5em 0.5em 1.5em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ConnectButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}